.color {
    color: #FDB525;
    color: #38B6FF;
}

.navbar .navbar-nav .nav-link {
    color: #fff;
    font-size: 1.1em;
}
.navbar .navbar-nav .nav-link:hover{
    color: #808080;
}
.navbar-logo-centered .navbar-nav .nav-link{
    padding: .5em 1em;
}

section {
    padding: 100px 0;
}

.hero {
    background: #38B6FF;
    padding: 300px 0;
}

.chedda-head {
    color: #fff;
    /* text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000; */
}

.chedda-head-btn {
    padding: 15px 30px;
    border-radius: 50px;
    font-weight: 600;
}

.chedda-head-btn:hover{
    background: #38B6FF;
}

/* logo move */

.logo-move{
	margin-top: -30px;
	position: relative;
	animation: moveUp 10s ease infinite;
	animation-delay: 2s;
}

@keyframes moveUp {
    from{
		top: 0px;
	}
	50%{
		top: 20px;
	}
	to{
		top: -20px;
	}
}

/* About section */

.about {
    background: #fff;
}

/*---------------------
  Services Section
-----------------------*/

.services-section {
	background: #fff;
	padding-top: 0;
	padding-bottom: 80px;
}

.service-item {
	text-align: center;
	background: #38B6FF;
	padding: 26px 50px 0;
	height: 350px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	margin-bottom: 30px;
}

.service-item:hover {
	border-bottom: 3px solid #FDB525;
	margin-top: -10px;
}

.service-item h4 {
	font-size: 22px;
	color: #fff;
	font-weight: 700;
	margin-top: 33px;
	margin-bottom: 25px;
}

.service-item p {
  color: #fff;
}


/* roadmap events */

.roadmap {
    background: #38B6FF;
    padding: 50px 0;
}

.roadmap-main {
    width: 90%;
}

.timeline {
    list-style: none;
    margin: 25px 0 22px;
    padding: 0;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .timeline:after {
    border: 6px solid;
    border-top-width: 13px;
    border-color: #000 transparent transparent transparent;
    content: "";
    display: block;
    position: absolute;
    bottom: -19px;
    left: 15px;
  }
  
  .timeline-horizontal:after {
    border-top-width: 6px;
    border-left-width: 13px;
    border-color: transparent transparent transparent #000;
    top: 15px;
    right: 0;
    bottom: auto;
    left: auto;
  }
  .timeline-horizontal .timeline-milestone {
    border-top: 2px solid #000;
    display: inline;
    float: left;
    margin: 20px 0 0 0;
    padding: 40px 0 0 0;
  }
  .timeline-horizontal .timeline-milestone:before {
    top: -17px;
    left: auto;
  }
  .timeline-horizontal .timeline-milestone.is-completed:after {
    top: -17px;
    left: 0;
  }
  
  .timeline-milestone {
    border-left: 2px solid #000;
    margin: 0 0 0 20px;
    padding: 0 0 5px 25px;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .timeline-milestone:before {
    border: 7px solid #000;
    border-radius: 50%;
    content: "";
    display: block;
    position: absolute;
    left: -17px;
    width: 32px;
    height: 32px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .timeline-milestone.is-completed:before {
    background-color: #000;
  }
  .timeline-milestone.is-completed:after {
    color: #FFF;
    content: "\f00c";
    display: block;
    font-family: "FontAwesome";
    line-height: 32px;
    position: absolute;
    top: 0;
    left: -17px;
    text-align: center;
    width: 32px;
    height: 32px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .timeline-milestone.is-current:before {
    background-color: #fff;
  }
  .timeline-milestone.is-future:before {
    background-color: #8DACB8;
    border: 0;
  }
  .timeline-milestone.is-future .timeline-action .title {
    color: #8DACB8;
  }
  
  .timeline-action {
    background-color: #fff;
    /* border:2px solid #000; */
    color: #000;
    padding: 20px 20px;
    position: relative;
    top: -15px;
  }
  .timeline-action.is-expandable .title {
    cursor: pointer;
    position: relative;
  }
  .timeline-action.is-expandable .title:focus {
    outline: 0;
    text-decoration: underline;
  }
  .timeline-action.is-expandable .title:after {
    border: 6px solid #666;
    border-color: transparent transparent transparent #666;
    content: "";
    display: block;
    position: absolute;
    top: 6px;
    right: 0;
  }
  .timeline-action.is-expandable .content {
    display: none;
  }
  .timeline-action.is-expandable.is-expanded .title:after {
    border-color: #666 transparent transparent transparent;
    top: 10px;
    right: 5px;
  }
  .timeline-action.is-expandable.is-expanded .content {
    display: block;
  }
  .timeline-action .title, .timeline-action .content {
    word-wrap: break-word;
  }
  .timeline-action .title {
    color: #FDB525;
    letter-spacing: 1.5px;
    /* text-shadow: 0.8px 0 0 #808080, -0.8px 0 0 #808080, 0 0.8px 0 #808080, 0 -0.8px 0 #808080, 0.8px 0.8px #808080, -0.8px -0.8px 0 #808080, 0.8px -0.8px 0 #808080, -0.8px 0.8px 0 #808080; */
    font-size: 18px;
    font-weight: 700;
    margin: 0;
  }
  .timeline-action .date {
    display: block;
    font-size: 14px;
    margin-bottom: 15px;
  }
  .timeline-action .content {
    font-size: 14px;
  }
  
  .file-list {
    line-height: 1.4;
    list-style: none;
  }


/* socials */

.socials{
  background: #fff;
}

.socials h2 {
  color: #000;
}

.socials p {
  color: #000;
  font-weight: 500;
}

.twitter p {
  color: #000;
  font-weight: 500;
  width: 95%;
}


/* kk */

.area{
  background: #38B6FF;  
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
  width: 100%;
  height:100%;
  
 
}

.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}