.color {
    color: #FDB525;
    color: #38B6FF;
}

.navbar .navbar-nav .nav-link {
    color: #fff;
    font-size: 1.1em;
}
.navbar .navbar-nav .nav-link:hover{
    color: #808080;
}
.navbar-logo-centered .navbar-nav .nav-link{
    padding: .5em 1em;
}

section {
    padding: 100px 0;
}

.hero {
    background: #FDB525;
    padding: 300px 0;
}

.chedda-head {
    color: #fff;
    /* text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000; */
}

.chedda-head-btn {
    padding: 15px 30px;
    border-radius: 50px;
    font-weight: 600;
}

.chedda-head-btn:hover{
    background: #38B6FF;
}

/* About section */

.about {
    background: #000;
}

/*---------------------
  Services Section
-----------------------*/

/* Tokenomics Section */

.toke-item {
  text-align: center;
  background: #262626;
  transition: .7s;
  margin-top: 20px;
}
.toke-item h3 {
  font-size: 25px;
  color: #000;
  font-weight: 600;
  text-align: center;
  margin: 0;
  margin-top: -80px;
  font-family: poppins;
  color: #fff;
}
.toke-item h4 {
  font-size: 48px;
  font-weight: 500;
  color: #fff;
}
.toke-item h4 span.sup {
  vertical-align: text-top;
  font-size: 25px;
}
.deal-top {
  position: relative;
  background: #FFA600;
  font-size: 25px;
  text-transform: uppercase;
  padding: 136px 24px 0;
}
.deal-top::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -50px;
  width: 0;
  height: 0;
}
.toke-head {
  padding: 56px 16px 0;
}
.toke-head ul {
  margin: 0;
  padding: 0;
}
.toke-head  ul li {
  font-size: 16px;
  color: #fff;
  font-weight: 300;
  margin-top: 16px;
  border-top: 1px solid #E4E4E4;
  border-bottom: 1px solid #E4E4E4;
  padding-top: 16px;
  padding-bottom: 16px;
  list-style: none;
}
.btn-area a {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  background: #FFA600;
  padding: 8px 64px;
  margin-top: 32px;
  border-radius: 4px; 
  margin-bottom: 40px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}


.toke-item:hover {
  background: #FFA600;
}
.toke-item:hover .deal-top {
  background: #262626;
}
.toke-item:hover .deal-top:after {
  border-top: 50px solid #262626;
}
.toke-item:hover .btn-area a {
  background: #262626;
}


/* roadmap events */

.roadmap {
    background: #FDB525;
}

.roadmap-main {
    width: 70%;
}

.timeline {
    list-style: none;
    margin: 25px 0 22px;
    padding: 0;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .timeline:after {
    border: 6px solid;
    border-top-width: 13px;
    border-color: #000 transparent transparent transparent;
    content: "";
    display: block;
    position: absolute;
    bottom: -19px;
    left: 15px;
  }
  
  .timeline-horizontal:after {
    border-top-width: 6px;
    border-left-width: 13px;
    border-color: transparent transparent transparent #000;
    top: 15px;
    right: 0;
    bottom: auto;
    left: auto;
  }
  .timeline-horizontal .timeline-milestone {
    border-top: 2px solid #000;
    display: inline;
    float: left;
    margin: 20px 0 0 0;
    padding: 40px 0 0 0;
  }
  .timeline-horizontal .timeline-milestone:before {
    top: -17px;
    left: auto;
  }
  .timeline-horizontal .timeline-milestone.is-completed:after {
    top: -17px;
    left: 0;
  }
  
  .timeline-milestone {
    border-left: 2px solid #000;
    margin: 0 0 0 20px;
    padding: 0 0 5px 25px;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .timeline-milestone:before {
    border: 7px solid #000;
    border-radius: 50%;
    content: "";
    display: block;
    position: absolute;
    left: -17px;
    width: 32px;
    height: 32px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .timeline-milestone.is-completed:before {
    background-color: #000;
  }
  .timeline-milestone.is-completed:after {
    color: #FFF;
    content: "\f00c";
    display: block;
    font-family: "FontAwesome";
    line-height: 32px;
    position: absolute;
    top: 0;
    left: -17px;
    text-align: center;
    width: 32px;
    height: 32px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .timeline-milestone.is-current:before {
    background-color: #38B6FF;
  }
  .timeline-milestone.is-future:before {
    background-color: #8DACB8;
    border: 0;
  }
  .timeline-milestone.is-future .timeline-action .title {
    color: #8DACB8;
  }
  
  .timeline-action {
    background-color: #38B6FF;
    border:2px solid #000;
    color: #fff;
    padding: 12px 10px 12px 20px;
    position: relative;
    top: -15px;
  }
  .timeline-action.is-expandable .title {
    cursor: pointer;
    position: relative;
  }
  .timeline-action.is-expandable .title:focus {
    outline: 0;
    text-decoration: underline;
  }
  .timeline-action.is-expandable .title:after {
    border: 6px solid #666;
    border-color: transparent transparent transparent #666;
    content: "";
    display: block;
    position: absolute;
    top: 6px;
    right: 0;
  }
  .timeline-action.is-expandable .content {
    display: none;
  }
  .timeline-action.is-expandable.is-expanded .title:after {
    border-color: #666 transparent transparent transparent;
    top: 10px;
    right: 5px;
  }
  .timeline-action.is-expandable.is-expanded .content {
    display: block;
  }
  .timeline-action .title, .timeline-action .content {
    word-wrap: break-word;
  }
  .timeline-action .title {
    color: #FDB525;
    letter-spacing: 1.5px;
    text-shadow: 0.8px 0 0 #000, -0.8px 0 0 #000, 0 0.8px 0 #000, 0 -0.8px 0 #000, 0.8px 0.8px #000, -0.8px -0.8px 0 #000, 0.8px -0.8px 0 #000, -0.8px 0.8px 0 #000;
    font-size: 18px;
    margin: 0;
  }
  .timeline-action .date {
    display: block;
    font-size: 14px;
    margin-bottom: 15px;
  }
  .timeline-action .content {
    font-size: 14px;
  }
  
  .file-list {
    line-height: 1.4;
    list-style: none;
    padding-left: 10px;
  }
  
  .page {
    max-width: 1200px;
    margin: 40px 30px;
  }
  
  a {
    color: #000;
    text-decoration: none;
  }
  a:hover, a:focus {
    text-decoration: underline;
  }
  
  .video-link:before {
    content: "\f03d";
    display: inline-block;
    font-family: "FontAwesome";
    margin-right: 5px;
  }
  
  a[href*=".pdf"]:before {
    content: "\f0f6";
    display: inline-block;
    font-family: "FontAwesome";
    margin-right: 8px;
  }
  
/* socials */

